html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.search {
    margin-top: 10px;
    text-align: center;
}

.search-input {
    width: 180px;
    height: 30px;
}

.search-btn {
    width: 80px;
    height: 35px
}

.result {
    width: 80px;
    height: 35px;
}

.repo_table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}